* {
  font-family: "Jost";
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
}
.portfolio-container {
  position: relative;
  background: #2d2d2d;
  color: #ffffff;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.content-main {
  margin: 0;
  padding: 30px 42px 0 42px;
}
.navbar {
  display: none;
}
.banner {
  width: 100%;
}
.banner-image {
  width: 100%;
}
.banner-image img {
  width: 100%;
}
.banner-content {
  padding-top: 10px;
}
.banner-content h1 .para1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
}
.banner-content h1 .para2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
}
.banner-content h1 .para3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}
.contact-link {
  margin-top: 30px;
}
.contact-link a {
  text-decoration: none;
  color: #ffffff;
  background: #414141;
  border-radius: 10px;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 31px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  justify-content: space-between;
}
.contact-link .hire-me {
  background: #7996fc;
  box-shadow: 0px 0px 15px rgba(121, 150, 252, 0.15);
}
.arrow-link {
  font-size: 40px;
}
.bxl-telegram {
  padding-right: 20px;
}
@media (min-width: 720px) {
  .portfolio-container {
    max-width: 1440px;
  }
  .content-main {
    padding: 0 6.667vw;
  }
  .navbar {
    display: block;
    padding-top: 1.806vw;
    padding-bottom: 2.361vw;
  }
  .navlist {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .list-content {
    padding-left: 2.083vw;
    padding-right: 2.083vw;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 1.389vw;
    line-height: 2.014vw;
  }
  .banner {
    display: flex;
  }
  .banner-image {
    width: 52%;
  }
  .banner-content {
    width: 48%;
    padding-top: 9.167vw;
    padding-left: 5.278vw;
  }
  .banner-content h1 .para1 {
    font-size: 3.889vw;
    line-height: 5.625vw;
  }
  .banner-content h1 .para2 {
    font-size: 3.889vw;
    line-height: 5.625vw;
  }
  .banner-content h1 .para3 {
    font-size: 3.333vw;
    line-height: 4.792vw;
  }
  .contact-link {
    margin-top: 4.167vw;
  }
  .contact-link .hire-me {
    width: 50%;
    margin-right: 1.389vw;
  }
  .contact-link .my-portfolio {
    width: 50%;
  }
  .link-flex {
    display: flex;
    justify-content: space-between;
  }
  .contact-link a {
    border-radius: 0.694vw;
    height: 4.167vw;
    margin-bottom: 1.389vw;
    padding: 0 2.153vw;
    font-size: 1.389vw;
    line-height: 2.014vw;
  }
  .contact-link .hire-me {
    box-shadow: 0px 0px 1.042vw rgba(121, 150, 252, 0.15);
  }
  .bxl-telegram {
    padding-right: 1.389vw;
  }
  .arrow-link {
    font-size: 2.778vw;
  }
}
@media (min-width: 1440px) {
  .content-main {
    padding: 0 96px;
  }
  .navbar {
    padding-top: 26px;
    padding-bottom: 34px;
  }
  .list-content {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 29px;
  }
  .banner-content {
    padding-top: 132px;
    padding-left: 76px;
  }
  .banner-content h1 .para1 {
    font-size: 56px;
    line-height: 81px;
  }
  .banner-content h1 .para2 {
    font-size: 56px;
    line-height: 81px;
  }
  .banner-content h1 .para3 {
    font-size: 48px;
    line-height: 69px;
  }
  .contact-link {
    margin-top: 60px;
  }
  .contact-link .hire-me {
    margin-right: 20px;
  }
  .contact-link a {
    border-radius: 10px;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 31px;
    font-size: 20px;
    line-height: 29px;
  }
  .contact-link .hire-me {
    box-shadow: 0px 0px 15px rgba(121, 150, 252, 0.15);
  }
  .bxl-telegram {
    padding-right: 20px;
  }
  .arrow-link {
    font-size: 40px;
  }
}
@media (max-width: 440px) {
  .bxl-telegram {
    display: none;
  }
  .my-telegram .arrow-link {
    display: none;
  }
}
